/* Hides side pannel of suggested videos */
#related{
    visibility: hidden;
}

/* Hides comment section */
#comments{
    visibility: hidden;
}

/* Hides homepage button */
#homepage{
    visibility: hidden;
}

/* Hides logo */
#logo{
    visibility: hidden;
}

/* Hides sidebar */
/*
#scrim{
    visibility: hidden;
}*/

/* Hides sidebar */
#guide{
    visibility: hidden;
}

/* Hides suggested videos on homepage (desktop) */
.ytd-browse[page-subtype ="home"]{
    visibility: hidden;
}

/* keeps search results*/
.ytd-search{
    visibility: visible !important;
}

/* Hides endscreen suggested videos */
.html5-endscreen{
    visibility: hidden;
}

/* Hides Notifications button */

ytd-topbar-menu-button-renderer:nth-of-type(2){
    visibility: hidden;
}

/* Hides YouTube Apps button */

ytd-notification-topbar-button-renderer {
    visibility: hidden;
}

